.Header {
  display: flex;
  background-color: #fff;
  min-height: 70px;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.HeaderLogo {
  flex-grow: 1;
  margin: 0;
}

.PageTitle {
  text-align: center;
  margin-top: 40px;
}

.Logo {
  height: 40vmin;
}

.Login {
  background-size: cover;
  background-image: url('./login-background.jpg');
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LoginColumn {
  max-width: 25%;
  flex-basis: 25%;
}
.LoginForm {
  padding: 44px 60px;
  min-width: 500px;
  margin-top: 48px;
  margin-bottom: 48px;
  border-radius: 4px;
  background-color: #fff;
}
.LoginFormContainer {
  display: flex;
  flex-direction: column;
}
.LoginFormItem {
  text-align: left;
}
.LoginTitle {
  margin-bottom: 30px;
}
.LoginLink {
  display: flex;
  flex-direction: row;
}
.LoginButton {
  width: 100px;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
}

.Link {
  margin-left: 4px;
  color: #1473e6;
  cursor: pointer;
  text-decoration: none;
}